.Prodcut-Card{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    border-radius: 8px;

}

.Product-Top{
    flex-direction: column-;
    display: flex;
    flex: 5;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.Product-Image{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.Product-Bottom{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
}

.Info-Top{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.Info-Bottom{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.Info-Bottom span{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

.Info-Name{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Info-Name span{
    font-size: 20px;
    font-weight: 500;
}

.Info-Price{
    margin-right: 10px;
}

.Info-Price span{
    font-size: 24px;
    font-weight: 700;
    color: #005db9;
}