.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 100px;
}

.App-headerBar{
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ffffff;
  height: 100px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.1), 
              0 4px 4px rgba(0,0,0,0.1), 
              0 6px 6px rgba(0,0,0,0.1);
}

.headerBar-LogoContainer{
  display: flex;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

.HeaderLogo{
  height: 60px;
}

.App-content{
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: #005db9;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  overflow-y: scroll;
}

.AvatarLogo{
  width: 20vw;
  height: 20vw;
  max-width: 400px;
  max-height: 400px;
  min-height: 200px;
  min-width: 200px;
  margin: 15px 0 20px 0px;
}

.versionFooter{
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 90%;
  background-color: "#ededed";
  border-radius: 8px;
  align-items: flex-end;
  margin: auto auto 60px auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}
.ContinueButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 110px;
  background-color: #005db9;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}

.ContinueButton span{
  color: #ffffff;
  font-weight: 400;
}

.Content-delimiter{
  width: 90vw;
  min-height: 400px;
  height: calc(100vh - 600px);
  margin-bottom: 100px;
}

.Content-delimiter::-webkit-scrollbar { 
  width: 0 !important 
}

.Content-Products{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  
}

.Dialog{
  justify-content:"center";
  align-items:"center";
  width:"100%"
}

.DialogContent{
  display:flex;
  flex-direction:column;
  flex:1;
  justify-content:center;
  align-items:center;
  height:100%;
}

.DialogVersionContainer{
    display:flex;
    flex-direction:column;
    flex:1;
    justify-content:center;
    min-height:50;
    margin-right:10
}

.Shop-Area{
  display: flex;
  width: 250px;
  height: 150px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 8px;
  border-color: #ffffff;
  margin-top: 100px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}

.Shop-Car{
  width: 80px;
  height: 80px;
}

.Buttons-Header{
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 90vw;
  justify-content: space-evenly;
}

.headerBar-SearchBar{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100px;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

.Query-Container{
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color:#e8e8e8;
  border-radius: 40px;
}

.QuerySection{
  margin-right: 20px;
  margin-left: 20px;
  border: none;
  height: 60px;
  background-color: transparent;
}

.SearchImage{
  height: 30px;
  height: 30px;
  margin-right: 20px;
}

input[type=search]{
  -moz-appearance: none;
  -webkit-appearance: none; 
  appearance: none; 
  font-size:20px !important
}

textarea:focus, input:focus{
  outline: none;
}